body {
    padding: 10px;
    margin: 10px;
}
.players {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    min-height: 600px;
    min-width: 90%;
}
.results {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.buttons {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.selection {
    display: flex;
    justify-content: space-around;
}
.display {
    display: flex;
    justify-content: space-around;
    min-width: 90%;
}

